span{
    font-weight:bold;
}

body{
    display:flex;
    justify-content: center;
    flex-direction: row;
}

main{
    width:960px;
    font-family: 'Roboto', sans-serif;

}

header{
    margin:auto;
}

h1{
    font-family: 'Permanent Marker', cursive;
}

#profile-pic{
    width: 95px;
    position: relative;
}